[twitter]
apiKey = TXwYimRphRt9a918ypKGVLmKV
apiSecret = tvKEvbEUDvDzM4jcFdXDS1QGSNA1E6sthPxJGfCaLQdi1zhJmK
accessToken = 900000510488854528-engYxikbUK6APVf8UOjShBc2i873KKI
accessTokenSecret = pKILm80qIFOg80wyTc6TZrXy3CmPXxw2Q5qH7RU41msUj
receiverTwitterId = 218979899